@page
@model GalaxiaWordle.Pages.GameCenterModel
@{
}

<header>
    <link rel="stylesheet" href="~/css/GameCenterStyle.css">
    <script src="~/js/GameCenterScript.js"></script>
</header>

<div class="game-center-hub">
    <div class="game-center-cards">
        <div class="nav-bar-div">
            <nav class="nav-bar">
                <a href="#" class="links">About Galaxia</a>
                <a href="#" class="links">Contact Us</a>
                <img class="profile-img" src="~/img/11fire.png" alt="Profile Image" />
            </nav>
        </div>

        <div class="game-center-body">
            <h1 class="welcome-heading">
                Welcome To Game Center Galaxia
            </h1>

            <div class="game-holder">
                <div class="game-card" id="wordle-game-card">
                    <div class="game-img-div">
                        <img class="game-img" src="~/img/wordle_og_1200x630.png" alt="Game Image" />
                    </div>
                    <div class="play-button-div">
                        <button class="play-button" onclick="ShowWordleSelectBox();">Play</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-wordle-game">
        <select class="wordle-number-length custom-select" id="number-select" onchange="HandleSelectChange(this)">
            <option value="empty">Please select the word length</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <div class="wordle-partial">

        </div>
    </div>
    @Html.AntiForgeryToken()
</div>