@page
@model GalaxiaWordle.Pages.LoginModel
@{
}

<header>
    <link rel="stylesheet" href="~/css/LoginStyle.css">
    <script src="~/js/LoginScript.js"></script>
</header>

<div class="LoginPage">
    <h1 class="WelcomeHeading">Welcome to Wordle Galaxia</h1>

    <div class="LoginCard">
        <h3 class="CardHeading">Please log in</h3>

        <lable class="Lables">User Name</lable>

        <input type="text" class="Inputs" id="userName" />

        <lable class="Lables">Password</lable>

        <input type="text" class="Inputs" id="password" />

        <button type="button">Login</button>

        <p class="Text">No account?<br /> <a href="" class="LoginHref">Register</a></p>
    </div>
</div>