@page
@model GalaxiaWordle.Pages.LoginModel
@{
}

<header>
    <link rel="stylesheet" href="~/css/LoginStyle.css">
    <script src="~/js/LoginScript.js"></script>
</header>

<div class="LoginPage">
    <h1 class="WelcomeHeading">Welcome to Wordle Galaxia</h1>

    <div class="LoginCard">
        <h3 class="CardHeading">Please log in</h3>

        <form method="post" asp-page-handler="ValidateUserInfo">
            <lable class="Lables">User Name</lable>

            <input type="text" class="Inputs" id="userName" name="userName"/>

            <lable class="Lables">Password</lable>

            <input type="password" class="Inputs" id="password" name="password" />

            <button type="submit">Login</button>
        </form>

        <p class="Text">No account?<br /> <a href="/Register" class="LoginHref">Register</a></p>

        @Html.AntiForgeryToken()
    </div>
</div>