@page
@model GalaxiaWordle.Pages.RegisterModel
@{
}

<header>
    <link rel="stylesheet" href="~/css/RegisterStyle.css">
</header>

<div class="RegisterPage">
    <h1 class="WelcomeHeading">Welcome to Wordle Galaxia</h1>

    <div class="RegisterCard">
        <h3 class="CardHeading">Registration</h3>

        <form method="post" asp-page-handler="CreateNewUser" name="userInformation">
            <label class="Lables">Full Name</label>
            <input type="text" class="Inputs" id="fullName" name="FullName" />
            <label asp-validation-for="userInformationErrors.FullName" class="text-danger"></label>

            <label class="Lables">User Name</label>
            <input type="text" class="Inputs" id="UserName" name="UserName" />
            <label asp-validation-for="userInformationErrors.UserName" class="text-danger"></label>

            <label class="Lables">Email</label>
            <input type="email" class="Inputs" id="email" name="Email" />
            <label asp-validation-for="userInformationErrors.Email" class="text-danger"></label>

            <label class="Lables">Password</label>
            <input type="password" class="Inputs" id="Password" name="Password" />
            <label asp-validation-for="userInformationErrors.Password" class="text-danger"></label>

            <label class="Lables">Confirm Password</label>
            <input type="password" class="Inputs" id="confirmPassword" name="confirmPassword" />
            <label asp-validation-for="confirmPasswordErrors" class="text-danger"></label>

            <button type="submit">Register</button>
        </form>

        <p class="Text">Already have an account?<br /> <a href="/Login" class="RegisterHref">Login</a></p>

        @Html.AntiForgeryToken()
    </div>
</div>